@mixin felxCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather{
    @include felxCenter();
    justify-content: center;
    &::-webkit-input-placeholder{
        font-size: 20px;
        text-align: center;
    }
}
.input_city{
    width: 500px;
    height: 80px;
    margin-top: 150px;
    font-size: 20px;
    text-align: center;
}
.content{
    @include felxCenter();
}
.button{
    width: 120px;
    height: 40px;
    margin-top: 15px;
}